%article.entry.style-grid.style-hero.hero-nav.type-post.col-xs-6.col-sm-6
  - if @prev_post.try(:first).nil?
    %a{href: post_path(@prev_post.id)}
      %header.entry-header
        %p.small Previous Story
        %h3.entry-title= @prev_post.title
      %figure.entry-thumbnail
        .overlay.overlay-primary
        / to disable lazy loading, remove data-src and data-src-retina
        %img{alt: "", "data-src" => "http://placehold.it/480x280", "data-src-retina" => "http://placehold.it/720x420", height: "280", src: "#{@prev_post.images.any? ? @prev_post.images.first.filename_url : '../assets/placeholder.gif'}", width: "480"}/
        / fallback for no javascript browsers
        %noscript
          %img{alt: "", src: "http://placehold.it/480x280"}/
  - else
    %a{href: '#'}
      %header.entry-header
        %p.small Previous Story
        %h3.entry-title
      %figure.entry-thumbnail
        .overlay.overlay-primary
        / to disable lazy loading, remove data-src and data-src-retina
        %img{alt: "", "data-src" => "http://placehold.it/480x280", "data-src-retina" => "http://placehold.it/720x420", height: "280", src: "../assets/placeholder.gif", width: "480"}/
        / fallback for no javascript browsers
        %noscript
          %img{alt: "", src: "http://placehold.it/480x280"}/