.col-md-offset-3
  .hero-unit{style: "margin-top:40px"}
    %h1{style: "font-size:58px"}
      Gastrochub
      %small edit existing post
%hr/


= render 'form'

= link_to 'Show', @post
\|
= link_to 'Back', posts_path
