%nav#header.header-navbar{role: "navigation"}
  .header-navbar-inner.container
    #brand.navbar-brand
      %a{href: root_path, rel: "bookmark"}
        / to disable lazy loading, remove data-src and data-src-retina
        %img{alt: "", "data-src" => "../assets/logo.png", "data-src-retina" => "../assets/logo-retina.png", height: "56", src: "../assets/logo.png", width: "244"}/
        / fallback for no javascript browsers
        %noscript
          %img{alt: "", src: "../assets/logo.png"}/
    %ul.nav.nav-pages.hidden-xs
      %li
        %a{href: "#"} About
      %li
        %a{href: "#"} Contact
      / %li
      /   %a{href: "#"} Advertise
      / %li
      /   %a{href: "#"} Terms & Conditions
      / %li
      /   %a{href: "#"} Privacy
    %ul.nav.nav-icons
      %li
        %a.btn-icon{"data-toggle" => ".header-navbar-inner", "data-toggle-class" => "search-toggled-in", href: "#"}
          %span.search-toggled-out-icon.fa.fa-search
          %span.search-toggled-in-icon.fa.fa-times-circle-o.fa-lg
    .search-wrapper.js-stoppropagation
      .search-wrapper-inner
        %form
          %input{placeholder: "search ... ", type: "text", value: ""}/
          %button.btn-icon{type: "submit"}
            %span.fa.fa-search
    %ul.nav.navbar-nav
      %li.active
        %a{"data-toggle" => "li", href: "#"} Features
        .subnav-wrapper
          %ul.subnav
            %li
              %a{href: "index.html"} Blog 3 Columns
            %li.active
              %a{href: "blog.html"} Blog 2 Columns
            %li
              %a{href: "blog-grids.html"} Blog Grids
            %li
              %a{href: "reviews.html"} Reviews Archive
            %li
              %a{href: "single.html"} Single Blog
            %li
              %a{href: "single-full.html"} Single Blog (Full)
            %li
              %a{href: "components.html"} Components
            %li
              %a{"data-toggle" => "li", href: "#"} Colorshemes
              .subnav-wrapper
                %ul.subnav
                  %li
                    %a{href: "../html/"} Coolorize
                  %li
                    %a{href: "../html-dark/"} Dark
                  %li
                    %a{href: "../html-light/"} Light
            %li
              %a{"data-toggle" => "li", href: "#"} Banner Placements
              .subnav-wrapper
                %ul.subnav
                  %li
                    %a{href: "banner-index.html"} Home
                  %li
                    %a{href: "banner-single.html"} Single
    
      %li
        %a{href: "#"} Category 1
      %li
        %a{href: "#"} Category 2
      %li
        %a{href: "#"} Category 3